/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        quicklayer: quicklayer {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICKLAYER";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        gui_hold: gui_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "GUI_HOLD";
            bindings = <&lm_gui>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        go-to-system {
            bindings = <&to 4>;
            key-positions = <28 39>;
        };

        reset {
            bindings = <&sys_reset>;
            key-positions = <0 13>;
        };

        go_home {
            bindings = <&to 0>;
            key-positions = <41 32>;
        };
    };

    macros {
        lm_gui: lm_gui {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LGUI &mo 2>, <&macro_release>;

            label = "LM_GUI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE            &kp Q  &kp W  &kp E         &kp R            &kp T      &kp LGUI   &kp BACKSPACE  &kp Y      &kp U            &kp I          &kp O    &kp P     &kp LBKT
&mt LEFT_CONTROL TAB  &kp A  &kp S  &kp D         &kp F            &kp G      &kp ENTER  &kp ENTER      &kp H      &kp J            &kp K          &kp L    &kp SEMI  &kp SINGLE_QUOTE
&mt LEFT_SHIFT RBKT   &kp Z  &kp X  &kp C         &kp V            &kp B                                &kp N      &kp M            &kp COMMA      &kp DOT  &kp FSLH  &mt RIGHT_SHIFT BACKSLASH
                                    &kp LEFT_ALT  &quicklayer 2 2  &kp SPACE                            &kp SPACE  &quicklayer 1 1  &kp RIGHT_ALT
            >;
        };

        numeric {
            display-name = "numeric";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &kp NUMBER_6  &kp RA(NUMBER_2)  &kp RA(NUMBER_3)  &kp RA(NUMBER_4)  &kp RA(NUMBER_5)  &trans  &trans  &kp MINUS         &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp KP_DIVIDE    &kp KP_MULTIPLY
&trans  &none         &kp RA(G)         &kp NUMBER_1      &kp NUMBER_4      &kp NUMBER_5      &trans  &trans  &kp V             &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp KP_SUBTRACT  &kp KP_PLUS
&trans  &none         &kp NUMBER_2      &kp NUMBER_3      &kp RA(X)         &kp RA(C)                         &kp LS(NUMBER_0)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp N4           &kp N5
                                        &trans            &to 0             &trans                            &trans            &to 0             &trans
            >;
        };

        navigation {
            display-name = "navigation";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&trans  &kp INS        &kp HOME    &kp UP    &kp END    &kp PG_UP     &trans  &trans  &kp F1         &kp F2           &kp F3  &kp F4  &kp F5   &none
&trans  &none          &kp LEFT    &kp DOWN  &kp RIGHT  &kp PG_DN     &trans  &trans  &kp F6         &kp F7           &kp F8  &kp F9  &kp F10  &none
&trans  &kp BACKSPACE  &kp DELETE  &none     &none      &none                         &kp F11        &kp F12          &none   &none   &none    &none
                                   &trans    &to 0      &kp LEFT_WIN                  &kp RIGHT_WIN  &quicklayer 3 3  &trans
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&trans  &kp F11  &mkp MB5   &none      &mkp MB4   &kp HOME  &trans  &trans  &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none   &trans
&trans  &none    &mkp RCLK  &mkp MCLK  &mkp LCLK  &kp END   &trans  &trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &trans
&trans  &none    &none      &none      &none      &kp ESC                   &none           &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans  &trans
                            &trans     &mo 2      &trans                    &trans          &to 0           &trans
            >;
        };

        system {
            display-name = "system";
            bindings = <
&rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &none  &none   &bt BT_SEL 4  &bt BT_SEL 1  &trans  &trans  &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none   &trans
&rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &none  &none   &bt BT_SEL 3  &bt BT_SEL 0  &trans  &trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &trans
&rgb_ug RGB_TOG  &rgb_ug RGB_TOG  &none  &none   &bt BT_SEL 2  &bt BT_CLR                    &none           &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans  &trans
                                         &trans  &to 0         &trans                        &trans          &to 0           &trans
            >;
        };

        azertyos {
            bindings = <
&trans        &kp B   &kp N2  &kp P   &kp O        &kp N7  &trans  &trans  &kp FSLH  &kp V   &kp D   &kp L  &kp J  &kp W
&trans        &kp Q   &kp U   &kp I   &kp E        &kp M   &trans  &trans  &kp C     &kp T   &kp S   &kp R  &kp N  &kp COMMA
&mt LSHIFT Z  &kp N0  &kp Y   &kp X   &kp LS(DOT)  &kp K                   &kp N4    &kp A   &kp G   &kp H  &kp F  &mt RIGHT_SHIFT NUMBER_9
                              &trans  &trans       &trans                  &trans    &trans  &trans
            >;
        };
    };
};
