/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&mt { tapping-term-ms = <120>; };

&lt { tapping-term-ms = <120>; };

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        dt_comma_period: dt_comma_period {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_COMMA_PERIOD";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp PERIOD>;
        };

        dmt_alt_excl_quest: dmt_alt_excl_quest {
            compatible = "zmk,behavior-tap-dance";
            label = "DMT_ALT_EXCL_QUEST";
            #binding-cells = <0>;
            bindings = <&mt LEFT_ALT EXCLAMATION>, <&kp QUESTION>;
        };

        dmt_alt_grave_tilde: dmt_alt_grave_tilde {
            compatible = "zmk,behavior-tap-dance";
            label = "DMT_ALT_GRAVE_TILDE";
            #binding-cells = <0>;
            bindings = <&mt LEFT_ALT GRAVE>, <&kp TILDE>;
        };

        dt_quotes: dt_quotes {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_QUOTES";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        dt_asterisk_caret: dt_asterisk_caret {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_ASTERISK_CARET";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&kp CARET>;
        };

        dt_lt_gt: dt_lt_gt {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_LT_GT";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GREATER_THAN>;
        };

        dt_pipe_bslash: dt_pipe_bslash {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_PIPE_BSLASH";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp BACKSLASH>;
        };

        dt_fslash_uscore: dt_fslash_uscore {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_FSLASH_USCORE";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp UNDERSCORE>;
        };

        dt_min_plus: dt_min_plus {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_MIN_PLUS";
            #binding-cells = <0>;
            bindings = <&kp KP_MINUS>, <&kp KP_PLUS>;
        };

        dt_curly_bracket: dt_curly_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_CURLY_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        dt_square_bracket: dt_square_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_SQUARE_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RIGHT_BRACKET>;
        };

        dt_colons: dt_colons {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_COLONS";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMICOLON>;
        };

        dt_eq_at: dt_eq_at {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_EQ_AT";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp AT_SIGN>;
        };

        ht_mt_bt0: ht_mt_bt0 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MT_BT0";
            bindings = <&kp>, <&bt_sel_0>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        ht_mt_bt1: ht_mt_bt1 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MT_BT1";
            bindings = <&kp>, <&bt_sel_1>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        dmt_shift_hash_amp: dmt_shift_hash_amp {
            compatible = "zmk,behavior-tap-dance";
            label = "DMT_SHIFT_HASH_AMP";
            #binding-cells = <0>;
            bindings = <&mt LEFT_SHIFT HASH>, <&kp AMPS>;

            tapping-term-ms = <120>;
        };

        dmt_shift_dollar_pct: dmt_shift_dollar_pct {
            compatible = "zmk,behavior-tap-dance";
            label = "DMT_SHIFT_DOLLAR_PCT";
            #binding-cells = <0>;
            bindings = <&mt LEFT_SHIFT DOLLAR>, <&kp PERCENT>;
        };

        dmt_cmd_parentheses: dmt_cmd_parentheses {
            compatible = "zmk,behavior-tap-dance";
            label = "DMT_CMD_PARENTHESES";
            #binding-cells = <0>;
            bindings = <&mt LEFT_GUI LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        cut_x: cut_x {
            compatible = "zmk,behavior-hold-tap";
            label = "CUT_X";
            bindings = <&cut>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        copy_c: copy_c {
            compatible = "zmk,behavior-hold-tap";
            label = "COPY_C";
            bindings = <&copy>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        paste_p: paste_p {
            compatible = "zmk,behavior-hold-tap";
            label = "PASTE_P";
            bindings = <&paste>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&paste>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };
    };

    combos {
        compatible = "zmk,combos";

        sum_12 {
            bindings = <&kp NUMBER_3>;
            key-positions = <8 9>;
            layers = <2>;
        };

        sum_13 {
            bindings = <&kp N4>;
            key-positions = <10 8>;
            layers = <2>;
        };

        sum_14 {
            bindings = <&kp N5>;
            key-positions = <11 8>;
            layers = <2>;
        };

        sum_23 {
            bindings = <&kp KP_N5>;
            key-positions = <9 10>;
            layers = <2>;
        };

        sum_24 {
            bindings = <&kp N6>;
            key-positions = <9 11>;
            layers = <2>;
        };

        sum_34 {
            bindings = <&kp N7>;
            key-positions = <11 10>;
            layers = <2>;
        };

        sum_123 {
            bindings = <&kp N6>;
            key-positions = <8 9 10>;
            layers = <2>;
        };

        sum_124 {
            bindings = <&kp N7>;
            key-positions = <10 8 11>;
            layers = <2>;
        };

        sum_234 {
            bindings = <&kp N9>;
            key-positions = <10 11 9>;
            layers = <2>;
        };

        sum_1234 {
            bindings = <&kp N0>;
            key-positions = <10 11 9 8>;
            layers = <2>;
        };
    };

    macros {
        bt_sel_0: bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>;
            label = "BT_SEL_0";
        };

        bt_sel_1: bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>;
            label = "BT_SEL_1";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp C>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp P>;
            label = "PASTE";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp X>;
            label = "CUT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY R";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &mt GLOBE TAB  &kp Y        &kp U         &kp I             &kp O     &paste_p 0 P  &mt LEFT_SHIFT BACKSPACE
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp ENTER      &kp H        &kp J         &kp K             &kp L     &kp UP_ARROW  &mt LEFT_ALT ESCAPE
&trans  &trans  &trans  &trans  &trans  &trans                         &kp N        &kp M         &dt_comma_period  &kp LEFT  &kp DOWN      &mt LEFT_GUI RIGHT
                        &trans  &trans  &trans                         &lt 1 SPACE  &lt 2 C_MUTE  &mt LCTRL C_PP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "QUERTY L";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &mt GLOBE C_VOL_UP  &kp Q   &kp W       &kp E             &kp R  &kp T  &dmt_shift_hash_amp
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_VOL_DN        &kp A   &kp S       &kp D             &kp F  &kp G  &dmt_alt_excl_quest
&trans  &trans  &trans  &trans  &trans  &trans                              &kp Z   &cut_x 0 X  &copy_c 0 C       &kp V  &kp B  &dmt_cmd_parentheses
                        &trans  &trans  &trans                              &trans  &kp C_PREV  &mt C_NEXT LCTRL
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &ht_mt_bt0 GLOBE 0         &kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3        &kp NUMBER_4     &kp NUMBER_0       &dmt_shift_dollar_pct
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &ht_mt_bt1 LEFT_COMMAND 0  &dt_quotes    &dt_asterisk_caret  &dt_lt_gt           &dt_pipe_bslash  &dt_fslash_uscore  &dmt_alt_grave_tilde
&trans  &trans  &trans  &trans  &trans  &trans                                     &dt_min_plus  &dt_curly_bracket   &dt_square_bracket  &dt_colons       &dt_eq_at          &mt LEFT_GUI X
                        &trans  &trans  &trans                                     &bt BT_CLR    &trans              &rgb_ug RGB_TOG
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp X   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
