/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp TAB               &kp Q  &kp W  &kp E         &kp R  &kp T      &kp ESCAPE  &kp BACKSPACE  &kp Y      &kp U  &kp I          &kp O    &kp P     &kp LBKT
&mt LEFT_CONTROL TAB  &kp A  &kp S  &kp D         &kp F  &kp G      &kp ENTER   &kp ENTER      &kp H      &kp J  &kp K          &kp L    &kp SEMI  &kp SINGLE_QUOTE
&mt LEFT_SHIFT RBKT   &kp Z  &kp X  &kp C         &kp V  &kp B                                 &kp N      &kp M  &kp COMMA      &kp DOT  &kp FSLH  &mt RIGHT_SHIFT BACKSLASH
                                    &kp LEFT_ALT  &mo 1  &kp SPACE                             &kp SPACE  &mo 2  &kp RIGHT_ALT
            >;
        };

        sys_num {
            display-name = "system_numeric";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &none  &kp HOME  &kp UP    &kp END    &kp PG_UP  &trans  &trans  &kp EQUAL         &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp KP_DIVIDE    &kp KP_MULTIPLY
&trans  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &trans  &trans  &kp V             &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp KP_SUBTRACT  &kp KP_PLUS
&trans  &none  &none     &none     &none      &none                      &kp LS(NUMBER_0)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp N4           &kp N5
                         &trans    &trans     &trans                     &trans            &mo 3             &tog 3
            >;
        };

        sym_nav {
            display-name = "symbol_navigate";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&kp SPACE  &kp LS(TILDE)  &kp G       &kp V         &kp RA(NUMBER_4)  &kp LS(PLUS)  &trans  &trans  &kp F1   &kp F2   &kp F3    &kp F4  &kp F5   &none
&kp EQUAL  &kp N6         &kp LA(N2)  &kp LA(N3)    &kp NUMBER_4      &kp NUMBER_5  &trans  &trans  &kp F6   &kp F7   &kp F8    &kp F9  &kp F10  &none
&kp SPACE  &trans         &kp C       &kp NUMBER_9  &kp RA(X)         &kp RA(C)                     &kp F11  &kp F12  &kp LGUI  &none   &none    &none
                                      &trans        &mo 5             &trans                        &trans   &trans   &trans
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &trans  &trans  &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none   &trans
&trans  &kp F6  &kp F7  &kp F8  &kp F9   &kp F10  &trans  &trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &trans
&trans  &trans  &trans  &trans  &kp F11  &kp F12                  &none           &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans  &trans
                        &trans  &trans   &trans                   &trans          &trans          &trans
            >;
        };

        azertyos {
            bindings = <
&trans        &kp B   &kp N2  &kp P   &kp O        &kp N7  &trans  &trans  &kp FSLH  &kp V   &kp D   &kp L  &kp J  &kp W
&trans        &kp Q   &kp U   &kp I   &kp E        &kp M   &trans  &trans  &kp C     &kp T   &kp S   &kp R  &kp N  &kp COMMA
&mt LSHIFT Z  &kp N0  &kp Y   &kp X   &kp LS(DOT)  &kp K                   &kp N4    &kp A   &kp G   &kp H  &kp F  &mt RIGHT_SHIFT NUMBER_9
                              &trans  &trans       &trans                  &trans    &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&none         &none            &none            &none            &none            &none            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&none         &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &bt BT_CLR                       &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans           &trans           &trans                           &trans  &trans  &trans
            >;
        };
    };
};
